html {
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
    color: #333;
    background-color: #eee;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.console {
    white-space: pre-wrap;

    margin: 0;
    padding-top: 5px; padding-bottom: 5px;
    padding-left: 10px; padding-right: 10px;

    border-bottom: 1px solid #ccc;
}

.console.input {
    background-color: #fff;
    font-style: italic;
    border-top: 1px solid #ccc;
}
.console.input:before {
    color: #bbb;
    content: "> ";
    font-style: normal;
    font-weight: bold;
}

.console.output {
    background-color: #fff;
    font-style: italic;
}
.console.output:before {
    color: #bbb;
    content: "< ";
    font-style: normal;
    font-weight: bold;
}

.console.debug {
    color: #555;
}
.console.info {
    background-color: #d9edf7;
}
.console.warn {
    background-color: #fcf8e3;
}
.console.error {
    background-color: #f2dede;
}

.right {
    float: right;
    color: #555;
    font-size: 80%;
    margin-right: 5px;
    margin-top: 3px;
}

#input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;

    box-sizing: border-box;
    padding-top: 5px; padding-bottom: 5px;
    padding-left: 10px; padding-right: 10px;
    
    font-size: 15px;
    font-family: "Source Code Pro", monospace;
    color: #333;

    resize: none;
}

.hljs {
    display: inline !important;
    padding: 0 !important;
    background: none !important;
}
